body, header, h1, h2, ul, li, div, p, a{
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: Pacifico;
  src: url(../fonts/Pacifico-Regular.ttf);
}

header{
	position: fixed;
	width: 100%;
	background-color: #5CC846;
	height: 100px;
	max-height: 100px;
	min-width: 820px;
	z-index: 999;
}

header div{
	display: inline-block;
}

header div.title-header{
	float: left;
	width: 30%;
	height: 100%;
}

header div.title-header img{
	width: 100px;
	height: 100px;
	display: inline-block;
}

header div.title-header li.logo{
	width: 100px;
	height: 100px;
}

header div.title-header ul{
	list-style-type: none;
	white-space: nowrap;
	display: flex;
}

header div.title-header li{
	display: inline-block;
	width: 100%;
}

header div.title-header h1{
	text-align: center;
	line-height: 60%;
	display: inline-block;
	margin: 25px 5px;
	float: left;
}

header div.title-header a{
	text-decoration: none;
	color: #4F21CE;
}

header div.title-header h1 span{
	font-family: Pacifico;
	font-size: 24px;
	word-spacing: 10px;
}

header div.title-header h1 a{
	font-size: 58px;
}

header ul{
    display: flex;
}


.topnav {
  display: flex;
  background-color: #333;
  height: 100%;
  width: 30%;
  float: right;
}

.dropdown{
    width: 100%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.galleries{
    position: relative;
    height: 100%;
    width: 100%;
}

.galleries ul{
    position: absolute;
    background-color: #3B3B3B;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 2px;
    width: 100%;

    transition: all 0.4s ease;

    transform: translateY(-15px);
    opacity: 0;
    visibility: hidden;
}

.galleries a{
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.dropdown button, .single-button{
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 0px 0px;
}

.galleries button{
    width: 100%;
}

.dropdown button:hover{
    background: #555;
    border: 1px solid #555;
    border-radius: 20px;
}

.galleries li{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0px;
}

.galleries li:hover{
    background: #ACACAC;
}

.galleries button:focus + ul{
    opacity: 1;
    visibility: visible;
    transform: translateY(-9px);
}

button:focus{
    outline: none;
    box-shadow: none;
}