main.preview{
	padding-top: 100px;
	width: 100%;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
	white-space: nowrap;
	display: inline-flex;
	min-width: 820px;
}

main.preview div.image{
	width: 70%;
}

main.preview div.side{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      	width: 27%;
	margin-left: 3%;
	height: auto;
	background-color: #F7D4AC;
	border: solid 3px #FF8800;
	border-radius: 40px;
	box-shadow: -3px 4px 10px 3px #FFC685;
}

main.preview div.image img{
	width: 100%;
	max-width: 100%
	height: auto;
	border: groove 3px black;
	border-radius: 50px;
	box-shadow: -7px 4px 5px 3px #9F9F9F;
}

main.preview div.info{

}

main.preview div.info h1{
	margin-top: 1%;
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 42px;

}

main.preview div.info ul{
	list-style-type: none;
	margin-left: 3%;
	margin-top: 1%;
	margin-right: 3%;
}

main.preview div.info li a{
	white-space: normal;
	font-size: 24px;
}

main.preview div.info li{
	margin-top: 4%;
	margin-bottom: 4%;
}

section.others{
	margin-top: 50px;
	width: 100%;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
	white-space: nowrap;
	text-align: center;
}

section.others h1{
	font-size: 42px;
}

section.others ul{
	margin-top: 20px;
}

section.others li{
	display: inline-flex;
	border: 5px double #C0C0BF;
	width: 21%;
	max-width: 21%;
	margin-left: 2%;
	margin-right: 2%;
	height: 250px;
	transition-duration: 0.5s;
}

section.others li:hover{
	max-width: 23%;
	width: 23%;
	height: 270px;
	margin-left: 1%
	margin-right: 1%;
}

section.others li img{
	width: 100%;
	height: 100%;
}

div.side .utils-buttons{
    width: 100%;
    margin-bottom: 3%;
}

div.side div.delete{
    margin-left: 10%;
    float: left;
    width: 40%;
}

div.side div.edit{
    margin-right: 10%;
    float: right;
    width: 40%;
}

div.side img {
    width: 50%;
}

div.side div.edit a{
    float: right
}

div.side div.edit img{
    float: right
}

