{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Amsterum - New Gallery</title>
	<link type="text/css" rel="stylesheet" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/preview.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
</head>
<body>
	<header>
		<div class="title-header">
			<ul>
				<li class="logo">
					<a href="/"><img src="{% static 'resc/logo.png' %}" alt="Amsterum logo"></a>
				</li>
				<li class="title">
					<h1>
						<a href="/">Amsterum<br><span>Gallery for you</span></a>
					</h1>
				</li>
			</ul>
		</div>
		<div class="topnav" id="myTopnav">
			<div class="dropdown">
				{% if user.is_authenticated %}
					<button><a href="/menu/" class="single-button">Menu</a></button>
				{% endif %}
				<button><a href="/" class="single-button">Home</a></button>
				<div class="galleries">
					<button> Galleries </button>
					<ul>
						{% for gallery in galleries %}
						<li>
							<a href="/gallery/{{ gallery.id }}">{{ gallery.name}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</header>
	{% block content %}
	{% endblock %}
	
</body>
</html>