{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Amsterum - New Gallery</title>
	<link type="text/css" rel="stylesheet" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/preview.css' %}">
</head>
<body>
	<header>
		<div class="title-header">
			<ul>
				<li class="logo">
					<a href="/index.html"><img src="{% static 'resc/logo.png' %}" alt="Amsterum logo"></a>
				</li>
				<li class="title">
					<h1>
						<a href="index.html">Amsterum<br><span>Gallery for you</span></a>
					</h1>
				</li>
			</ul>
		</div>
		<div class="topnav" id="myTopnav">
		  <div class="dropdown">
		    <button class="dropbtn">Dropdown
		      <i class="fa fa-caret-down"></i>
		    </button>
		    <div class="dropdown-content">
		      {% for gallery in galleries %}
		      	<a href="#">{{ gallery.name }}</a>
		      {% endfor %}
		    </div>
		  </div>
		  <a href="#home" class="active">Home</a>
		</div>
	</header>
	{% block content %}
	{% endblock %}
	
</body>
</html>