{% extends 'home_site/base.html' %}

{% block content %}
<div class="intro-container">
		<article class="intro">
			<h2>Welcom</h2>
			<a>
				Containers are fundamentally changing the way we develop, distribute, and run soft-ware.
				Developers can build software locally, knowing that it will run identically
				regardless of host environment-be it a rack in the IT department, a user’s laptop, or
				a cluster in the cloud. Operations engineers can concentrate on networking, resour‐
				ces, and uptime and spend less time configuring environments and battling system
				dependencies. The use and uptake of containers is increasing at a phenomenal rate
				across the industry, from the smallest start ups to large-scale enterprises. Developers
				and operations engineers should expect to regularly use containers in some fashion
				within the next few years. ~ "Using Docker" A. Mouat
			</a>
		</article>
	</div>
	<div class="big-hr">
		<hr>
	</div>
	<main>
		<section class="gallery-content">
			<h2>
				Latest pictures
			</h2>
			{% for image in images_paginator %}
			<div class="image-content">
				<a href="/preview/{{ image.get_name}}"> <img src="{{ image.image_path.url }}"> </a>
				<div class="image-data">
					<p class="image-title"><strong>Title: </strong>{{ image.title }}</p>
					<p class="image-description"><strong>Description: </strong>{{ image.description }}</p>
					<p class="image-date"><strong>Date: </strong>{{ image.date }}</p>
					<p class="image-group"><strong>Gallery: </strong>{{ image.group.name }}</p>
				</div>
			</div>
			<div class="small-hr">
			    <hr>
			</div>
		{% endfor %}
		<!--- Paginator --->
		<div class="paginator-contaier">
			{% if images_paginator.has_previous %}
				<a class="pagination-button" href="?page=1"><< First</a>
			{% else %}
				<a> </a>
			{% endif %}
			{% if images_paginator.has_previous %}
				<a class="pagination-button" href="?page={{ images_paginator.previous_page_number }}">< Previous</a>
			{% else %}
				<a> </a>
			{% endif %}
			<a class="pagination-info">
				{{ images_paginator.number }} of {{ images_paginator.paginator.num_pages }}
			</a>
			{% if images_paginator.has_next %}
				<a class="pagination-button" href="?page={{ images_paginator.next_page_number }}">Next ></a>
			{% else %}
				<a> </a>
			{% endif %}
			{% if images_paginator.has_next %}
				<a class="pagination-button" href="?page={{ images_paginator.paginator.num_pages }}">Last >></a>
			{% else %}
				<a> </a>
			{% endif %}	
		</div>
		<!--- End of paginator --->
		</section>
		<section class="side-content">
			<h2>Random picture</h2>
			<div class="side-img">
				<a href="/preview/{{ random_image.get_name }}"><img src="{{ random_image.image_path.url }}"></a>
				<ul>
					<li><strong>Title: </strong>{{ random_image.title }}</li>
					<li><strong>Description: </strong>{{ random_image.description }}</li>
					<li><strong>Date: </strong>{{ random_image.date}}</li>
					<li><strong>Gallery: </strong>{{ random_image.group.name }}</li>
				</ul>
			</div>
		</section>
	</main>
	{% endblock %}