{% load static %}
<html>
	<head>
		<title>Gallery Site</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<div class="header">
			
		</div>
		<div class="main">
			<div class="content-container">
				<div class="gallery-container">
					<div class="gallery-row" id="1">
						{% for image in images1 %}
							<div class="gallery-column">
								<img src="{{ image.image_path.url }}">
							</div>
						{% endfor %}
					</div>
					<div class="gallery-row" id="2">
						{% for image in images2 %}
							<div class="gallery-column">
								<img src="{{ image.image_path.url }}">
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="side-nav-container">
					<div class="side-nav">
						<ul>
							<li>
								<a id="first-child">Navigation</a>
							</li>
							<li>
								<a>Gallery1</a>
							</li>
							<li>
								<a>Gallery2</a>
							</li>
							<li>
								<a>Gallery3</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>